body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#contenedor {
  display: flex;
}
/* TODO VA BIEN EN LA OPCION DE INSTECCIONAR LA WEB NO ENTIENDO PORQUE AL DARLE A UN LINK DE LOS DE ABAJO DE LA TARJETA TODO DECIDE PONERSE BIEN :( */
@media only screen and (max-width: 768px) {
  body {
    display: block;
  }

  #contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  body {
    display: block;
  }

  #contenedor {
    display: flex;
    flex-direction: column;
  }
}

.contPrincipal {
  width: 300px;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 10px;
  margin: 20px;
}

.img {
  width: 300px;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  bottom: 0;
}

.descript {
  margin: 15px;
}